<script lang="ts" setup>
import { ref, computed } from 'vue'

import { useMainStore } from '~/stores/main'
import { useUserStore } from '~/stores/user'
import { useGroupsStore } from '~/stores/groups'
import { getTotalDonated, getHighestDonated } from '~/utils/user'
import { getBestBadge, getBadges } from '~/utils/badge'

const mainStore = useMainStore()
const groupsStore = useGroupsStore()
const user = useUserStore().users[mainStore.currentUserID]

function get_pin(pin) {
    if (pin.type == "org") {
        return groupsStore.groups[pin.id]
    }
    else {
        return "error"
    }
}

function get_pin_path(pin) {
    const item = get_pin(pin)
    if (pin.type == "org") {
        return "#/organization/" + pin.id
    }
}

const getTotalBadges = () => {
    return user.badges.length
}


</script>
<template>
    <Card class="p-4">
        <template #content>
            <h1 class="text-center">
                {{ user.name.split(' ')[0] }} LegaSee
            </h1>
            <br/>
            <div class="grid h-25rem p-2">
                <div class="col-3 text-center flex flex-column m-auto ">
                    <div class="profile-badge-wrapper">
                        <Image imageClass="border-circle max-w-10rem" :src="'/users/' + user.pic" alt="Profile" />
                        <img class="profile-badge w-full" src="/badges/tree/border.png"  alt="Badge" />  
                    </div>
                    <br/><br/>
                    <LegaProgressBar showPercentage :value="user.xp" :goal="user.xpGoal" />
                    <p>Lvl. {{ user.level }}</p>
                </div>
                <div class="col-9 pl-5">
                    <iframe class="border-round" width="100%" height="100%" src="https://www.youtube.com/embed/nqye02H_H6I" title="4K Relaxing Nature Sounds - Short Video Clips of Nature" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div>
                <h2>Pinned items</h2>
                <div class="flex">
                <a class="p-2" :href="get_pin_path(pin)" v-for="pin in user.pins"> 
                    <div class="w-3rem h-3rem border-circle overflow-hidden">
                        <Image imageClass="w-full " :src="get_pin(pin).pic"/>
                    </div>
                </a>
                </div>
            </div>
            <div>
                <h2>Statistics</h2>
                <div class="grid">
                    <div class="col-3">
                        <h3>Donated</h3>
                        <p><b>Highest:</b> ${{  getHighestDonated(user) }}</p>
                        <p><b>Total:</b> ${{ getTotalDonated(user) }} </p>
                    </div>
                    <div class="col-4">
                        <h3>Badges</h3>
                        <p><b>Best: </b> <Badge border="0" width="64px" :id="getBestBadge(user).id" /></p>
                        <p><b>Total: {{ getTotalBadges() }}</b></p>
                    </div>
                    <div class="col-4 text-center">
                        Other stats here
                    </div>
                </div>
            </div>
            <div>
               <h3 class="label">Unique Badges</h3>
                <div class="grid">
                    <div v-for="badge in getBadges(user, 5)">
                        <div class="flex flex-column align-items-center">
                            <Badge :id="badge.id" width="200px"  />
                            <LegaProgressBar showPercentage class="w-10" :value="badge.xp" :goal="badge.xpGoal" />
                            <p>Lvl. {{ badge.level }}</p>

                        </div>
                    </div>
                </div>
               <h3 class="label">Elemental Badges</h3>
                <div class="grid">
                    <div v-for="badge in getBadges(user, 4)">
                        <div class="flex flex-column align-items-center">
                            <Badge :id="badge.id" width="200px" />
                            <LegaProgressBar showPercentage class="w-10" :value="badge.xp" :goal="badge.xpGoal" />
                            <p>Lvl. {{ badge.level }}</p>

                        </div>
                    </div>
                </div>
                <h3 class="label">Legendary Badges</h3>
                <div class="grid">
                    <div v-for="badge in getBadges(user, 3)">
                        <div class="flex flex-column align-items-center">
                            <Badge :id="badge.id" width="120px" />
                            <LegaProgressBar showPercentage class="w-10" :value="badge.xp" :goal="badge.xpGoal" />
                            <p>Lvl. {{ badge.level }}</p>

                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="label">Epic Badges</h3>
                <div class="grid" >
                    <div v-for="badge in getBadges(user, 2)">
                        <div class="flex flex-column align-items-center">
                            <Badge :id="badge.id" width="80px"  />
                            <LegaProgressBar showPercentage class="w-10" :value="badge.xp" :goal="badge.xpGoal" />
                            <p>Lvl. {{ badge.level }}</p>

                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div>
                <h3 class="label">Rare Badges</h3>
                <div class="grid" >
                    <div v-for="badge in getBadges(user, 1)">
                        <div class="flex flex-column align-items-center">
                            <Badge :id="badge.id" width="64px" />
                            <LegaProgressBar showPercentage class="w-10" :value="badge.xp" :goal="badge.xpGoal" />
                            <p>Lvl. {{ badge.level }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="label">Common Badges</h3>
                <div class="grid">
                    <div v-for="badge in getBadges(user, 0)">
                        <div class="flex flex-column align-items-center">
                            <Badge :id="badge.id" width="64px" />
                            <LegaProgressBar showPercentage class="w-10" :value="badge.xp" :goal="badge.xpGoal" />
                            <p>Lvl. {{ badge.level }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </template>
    </Card>
    <SingleBadgeView />

</template>

<style scoped>
.profile-badge-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}
.profile-badge {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}


.label {
    text-align: center;
    background-color: #00000044;
    padding: 0em 0.5em;
    margin-right: 3em;
    border-radius: 8px;
}
.label p {
    min-width: 9em;
}

</style>