<script lang="ts" setup>

</script>
<template>
    <div align="center">
        <img width="128" alt="LegaSee logo" src="/logo.png" />
        <h1>LegaSee</h1>
    </div>
</template>

<style scoped>
</style>