<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useGroupsStore } from '~/stores/groups'
import { useMainStore } from '~/stores/main'
import { useRoute } from 'vue-router'

const route = useRoute()
const id = route.params.id

const group = useGroupsStore().groups[id]
const mainStore = useMainStore()

const posts = computed(() => {
    let posts = group.posts
    posts.sort((a, b) => {
      return b.timestamp - a.timestamp
    })
    return posts
})

</script>
<template>
  <div class="relative h-18rem">
    <span class="absolute h-full w-full">
      <Image :src="group.banner" imageClass="w-full border-round-top" alt="Banner"/>
    </span>
  </div>
  <Card class="content">
    <template #content>
      <h1>{{ group.name }}</h1>
      <p>{{ group.description }}</p>
    </template>
  </Card>

  <div v-for="post in posts">
    <br/>
    <Post user="org" :id="group.id" :content="post.content"/>
  </div>
</template>

<style scoped>
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.banner-pic {
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0% 0%;
  margin-bottom: 2em;
}
.content {
  margin-top: -2.5em;
  margin-bottom: 2em;
  border-radius: 8px;
}

</style>