<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useGroupsStore } from '~/stores/groups'
import { useMainStore } from '~/stores/main'
import { useUserStore } from '~/stores/user'
import { useRouter } from 'vue-router'
const router = useRouter()

const mainStore = useMainStore()
const store = useGroupsStore()

const user = useUserStore().users[mainStore.currentUserID]

const selectedGroup = ref(0)
function showGroupPreview(group) {
    store.displaySinglePurpose = "block"
    selectedGroup.value = group.id
}

const changeDonateValue = ref(true)

const foundGroupDonate = computed(() => {
    const id = store.donateDialogID
    return user.liked.find(obj => obj.groupID == id)
})

function acceptDonate() {
    const id = store.donateDialogID
    const group = store.groups[id]
    const found = foundGroupDonate
    if (!found.value) {
        const newDonation = {
            groupID: id,
            donated: user.defaultDonate,
        }
        user.liked.push(newDonation)
        group.likes += 1
        
    }
    else {
        found.value.donated += user.defaultDonate
    }
    group.funded += user.defaultDonate
    user.currentBalance -= user.defaultDonate
    store.donateDialogVisible = false
}

function cancelDonate() {
    store.donateDialogVisible = false
    store.donateDialogID = -1
}

const showDescription = ref(-1)
function toggleDescription(groupId) {
    if (showDescription.value == groupId) {
        showDescription.value = -1
    }
    else {
        showDescription.value = groupId
    }
} 
</script>

<template>
    <Dialog @hide="cancelDonate" header="Donate" v-model:visible="store.donateDialogVisible" >
        <div v-if="foundGroupDonate">
            You have already donated ${{ foundGroupDonate.donated }}.
        </div>
        <p>Would you like to donate <span v-if="!changeDonateValue">
            <a @click="changeDonateValue = true"> {{ user.defaultDonate }} lega</a>
            </span>
            <span v-else>
                <InputNumber mode="currency" currency="USD" locale="en-US" :allowEmpty="false" :min="1" v-model="user.defaultDonate" showButtons/>
            </span>
            &nbsp;
            <span v-if="foundGroupDonate">more</span>
            to {{ store.groups[store.donateDialogID].name }}?</p>
        
        <br/>
        <div class="flex justify-content-between">
            <Button @click="cancelDonate" label="Decline"/>
            <Button @click="acceptDonate" label="Accept"/>
        </div>
    </Dialog>
    
    <div class="grid align-items-center">
        <div v-for="group in store.groups" class="m-auto cursor-pointer w-14rem align-content-center p-2 pb-4" >
            <div class="flex flex-column h-20rem w-full text-justify p-card p-0 align-items-center ">
                <div class="h-18rem w-full overflow-hidden">
                    <Image @click="showGroupPreview(group)" :src="group.pic" :alt="group.name"
                        imageClass="border-round-top h-full w-full">
                    </Image>   
                </div>
                <div class="w-full indicator-wrapper text-center">
                    <div class="indicator w-full" >
                        <b>{{ group.name }}</b>
                        <Likes :groupID="group.id" :likes="group.likes" />
                        <LegaProgressBar symbol="$" :value="group.funded" :goal="group.fundingGoal" />
                    </div>
                </div>
                <div class="description-wrapper">
                    <a @click="toggleDescription(group.id)" class="description p-card p-1">
            
                        <div v-if="group.id == showDescription" class="p-1 h-full">
                            {{ group.description }}
                        </div>
                        <div v-else class="one-line p-1 overflow-hidden">
                            {{ group.description }}
                        </div>
                                
                        <div class="h-1rem w-full flex justify-content-center flex-column align-items-center">
                            <i v-if="group.id == showDescription" class="no-underline text-primary pi pi-arrow-up arrow"/>
                            <i v-else class="no-underline text-primary pi pi-arrow-down arrow"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <SinglePurposeView :id="selectedGroup"/>
</template>



<style lang="scss" scoped>

.description-wrapper {
    position: relative;
    width: 100%;
}
.description {
    position: absolute;
    top: 0;
}
.one-line {
    height: 1.5rem;
}
.arrow {
    font-size: 0.5rem;
}
.indicator-wrapper {
    position: relative;
    width: 100%;
}
.indicator-wrapper .indicator{
    display: flex;
    position: absolute;
    margin: auto;
    padding: 1rem;
    flex-direction: column;
    left: 0;
    bottom: 0;
    background-color: rgba(4, 13, 25, 0.5);
}


</style>