<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useUserStore } from '~/stores/user'
import { useMainStore } from '~/stores/main'
import { useRoute } from 'vue-router'

const route = useRoute()
const mainStore = useMainStore()

const id = route.params.id
const user = useUserStore().users[id]

const post = ref('')

function handlePost() {
  let obj = {
    content: post,
    timestamp: +new Date,
  }
  user.posts.push(obj)
}

const posts = computed(() => {
    let posts = user.posts
    if (posts) {
        posts.sort(function(a, b){
        return b.timestamp - a.timestamp
        })
        return posts
    } else {
        return []
    }
})


</script>

<template>
  <ProfileInfoCard :id="id"/>
  <Card v-if="mainStore.accountType == 'user'" >
    <InputText type="text" size="large" placeholder="What's on your mind?" v-model="post" />
    <br/><br/>
    <div align="right">
      <Button @click="handlePost">Post</Button>
    </div>
  </Card>

  <div v-for="post in posts">
    <br/>
    <Post :id="id" user="user" :content="post.content"/>

  </div>
</template>

<style scoped>
.pp {
  border-radius: 50%;
  width: 64px;
  margin-right: 2em;
}
.gray {
  opacity: 50%;
}


</style>