 File: components/layouts/BaseHeader.vue
<script lang="ts" setup>
import { PrimeIcons } from 'primevue/api';


import { useUserStore } from '~/stores/user'
import { useGroupsStore } from '~/stores/groups'
import { useMainStore } from '~/stores/main'

import { User } from '@element-plus/icons-vue'
import { ref } from 'vue'

import { useRouter } from 'vue-router'
const router = useRouter()

const userStore = useUserStore()
const groupsStore = useGroupsStore()
const mainStore = useMainStore()
const user = useUserStore().users[mainStore.currentUserID]


const activeIndex = ref('/')

const options = [
  {
    value: 'Dark',
    label: 'Dark',
  },
  {
    value: 'Light',
    label: 'Light',
  },
]
const switchDialog = ref(false)

function switchAccount(arg) {
  mainStore.accountType = arg
  switchDialog.value = false
  if (arg == "user") {
    router.push({name: "User", params: {id: mainStore.currentUserID}})
  } else if (arg == "org") {
    router.push({name: "Organization", params: {id: 0}})
  }
}

const items = ref([
  {
    label: 'Home',
    to: '/',
    icon: 'pi pi-home',

  },
  {
    label: 'Find Purpose',
    to: '/purpose',
    icon: 'pi pi-heart',

  },
  {
    label: 'Profile',
    icon: 'pi pi-user',
    items: [
      {
        label: 'View profile',
        to: '/user/' + mainStore.currentUserID 
      },
      {
        label: 'Switch account',
        command: () => switchDialog.value = true,
      },
         {
        label: 'Logout',
        to: '/logout'
      },
    ]
  },
  {
    label: 'Badges',
    to: '/badges',
    icon: 'pi pi-shield',
    visible: () => mainStore.accountType == 'user',
  },
  {
    label: 'Search',
    icon: 'pi pi-search',
    command: () => searchDialog.value = true,
  }
])

const searchDialog = ref(false)


</script>

<template>


  <Menubar :model="items">
      <template #start>
          <img alt="logo" src="/logo.png" height="40" class="mr-2">
      </template>
      <template #end >
        <div class="flex align-items-center">
          <span class="p-1">{{ user.currentBalance }}</span>
          <LegaCoin/>
        </div>
      </template>
  </Menubar>
  
  <Dialog v-model:visible="switchDialog" >
    <template #header>
      <h3>Switch account</h3>
    </template>
    <div class="flex flex-column">
      <Button @click="switchAccount('user')" text>{{ user.name }}</Button>
      <br/>
      <Button @click="switchAccount('org')" text>{{ groupsStore.groups[0].name }}</Button>
    </div>
  </Dialog>

 <Dialog v-model:visible="searchDialog" >
     <template #header>
      <h3>Search</h3>
    </template>
    <InputText placeholder="Search" type="text" />
  </Dialog>

</template>

<style scoped>
.p-menubar {
  border-radius: 0;
}

</style>