<script lang="ts" setup>
import { ref, computed } from 'vue'


import { useMainStore } from '~/stores/main'
import { useUserStore } from '~/stores/user'
import { useGroupsStore } from '~/stores/groups'

import { Rarity, badges } from '~/utils/badge'

const mainStore = useMainStore()
const groupsStore = useGroupsStore()
const user = useUserStore().users[mainStore.currentUserID]

const props = defineProps({
    id: Number,
    width: String,
    border: String,
})

const user_badge = computed(() => {
    return user.badges.find(obj => obj.id == props.id)
})
const badge = computed(() => {
    return badges.find(obj => obj.id == user_badge.value.badgeId)
})

const url = computed(() => {
    if (badge.value) {
        return "/badges/" + Rarity[user_badge.value.rarity].toLowerCase() + "/" + badge.value.file_path
    }
    return ""
})

function clickBadge() {
    mainStore.showSingleBadge = 'block'
    mainStore.selectedBadge = props.id
}


</script>

<template>
    <a v-if="props.id >= 0" @click="clickBadge" class="badge" :style="{ 'border-width': border, width: props.width, height: props.width }">
        <Image :src="url" imageClass="max-w-full"/>
    </a>
</template>

<style scoped>
.badge {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem;
    border: 4px solid var(--surface-ground);

}
.badge:hover {
    border: 4px solid var(--surface-border);
}
</style>

