<script setup>

const props = defineProps({
    colored: Boolean,
})

</script>


<template>

    <span v-if="props.colored">
        <Image width="22" src="/coin/legacoin-donated.svg" />
    </span>
    <span v-else>
        <Image width="22" src="/coin/legacoin.svg" />
    </span>
</template>