<script type="ts" setup>
import { useBadgeStore } from '~/stores/badge'
import { ref, computed } from 'vue'

const store = useBadgeStore()

const url = computed(() => {
    return "/badges/" + store.badgeType + "/" + store.badgeName + ".png"
})

</script>
<template>
    <div align="center">
        <h1>Conguru's LegaSee</h1>
        <Image :src="url" imageClass="max-w-full" />
        <br/><br/><br/>
        <div class="progress">
            <h3>Level {{ store.badgeLevel }}</h3>
            <ProgressBar 
                :value="store.badgePercentage">
                Percent Complete: {{ store.badgePercentage }}%
            </ProgressBar>
        </div>

    </div>
</template>

<style scoped>
.progress {
    max-width: 512px;
}
</style>
