<script setup>
import { ref, computed } from 'vue'

import { useGroupsStore } from '~/stores/groups'
import { useUserStore } from '~/stores/user'
import { useMainStore } from '~/stores/main'

const userStore = useUserStore()
const mainStore = useMainStore()

const currentUser = useUserStore().users[mainStore.currentUserID]


const props = defineProps({
    commentID: Number,
    groupID: Number,
    userID: Number,
})

const comments = computed(() => {
    return useGroupsStore().groups[props.groupID].comments
})

const comment = computed(() => {
    return comments.value[props.commentID]
})

const user = computed(() => {
    if (props.commentID == -1) {
        return currentUser
    } else {
        return useUserStore().users[props.userID]
    }
})

const newComment = ref('')

function submitComment() {
    const comm = {
        id: comments.value.length,
        userID: user.value.id,
        text: newComment.value,
    }
    comments.value.push(comm)
    newComment.value = ''



}

</script>

<template>
<div class="p-card">
    <div v-if="props.commentID == -1" class="grid p-2 justify-content-between w-full w-">
        <div class="col-10">
            <InputText class="w-full" id="newData" v-model="newComment" placeholder="Write a comment..." />
        </div>
        <div class="col-2">
            <Button class="p-button-text" @click="submitComment" label="Submit" />
        </div>
    </div>
    <div v-else class="p-2 flex align-items-center">
        <div class="flex align-items-center flex-column ">
            <a :href="'/user?id=' + user.id">
                <Avatar size="large" shape="circle" :image="'/users/' + user.pic"/>
            </a>
        </div>
        <div class="flex flex-column">
            <span class="flex pl-3 p-1">
                {{ comment.text }}
            </span>
            <div class="flex ">
                <Button icon="pi pi-comment" class="p-button-text" label="" />
                <Button icon="pi pi-thumbs-up" class="p-button-text" label="" />
                <Button icon="pi pi-thumbs-down" class="p-button-text" label="" />

            </div>
        </div>
    </div>
</div>
<br/>
</template>

<style scoped>


</style>