<script lang="ts" setup>
import { ref, computed, onMounted } from 'vue'

const props = defineProps({
    display: String,
    close: Function,
    title: String
})

</script>

<template>
    <div class="dialog-wrapper" :style="{display: props.display }">
        <div @click="props.close" class="mask" ></div>
        <div class="dialog flex flex-column">
            <div class="text-center flex justify-content-between align-items-center">
                <h1>{{ props.title }}</h1>
                <Button @click="props.close" icon="pi pi-times" class="m-2 p-button-rounded p-button-text"/>
            </div>
        
            <slot/>
        </div>
    </div>
</template>


<style scoped>
.mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040d19aa;
    width: 100%;
    z-index: 1;
    height: 100%;

}
.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    text-align: center;
    height: 100%
}
.dialog {
    position: relative;
    margin: auto;
    background-color: var(--surface-ground);
    border-radius: var(--border-radius);
    padding: 1em;
    z-index: 1100;
    max-width: 600px;
    height: 100%;

}
</style>