<script lang="ts" setup>
import { ref } from 'vue'

const props = defineProps({
    value: Number,
    goal: Number,
    symbol: String,
    showPercentage: Boolean,
})

function funded() {
    return Math.floor(props.value / props.goal * 100)
}

</script>

<template>
    <div class="indicator-wrapper">
        <ProgressBar :value="funded()" :showValue="false"/>
        <div class="indicator">
            <span v-if="showPercentage">
                {{ funded() }} %
            </span>
            <span v-else>

                {{ symbol }}{{ value }} / {{ symbol }}{{ goal }}

            </span>
        </div>
    </div>
</template>

<style scoped>
.indicator-wrapper {
    position: relative;
    width: 100%;
}
.indicator {
    color: white;
    text-shadow: 0 0 5px var(--primary-color-text);
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0.2rem;
}

</style>