<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useGroupsStore } from '~/stores/groups'
import { useMainStore } from '~/stores/main'
import { useUserStore } from '~/stores/user'
import { useRouter } from 'vue-router'

const groupStore = useGroupsStore()


const userStore = useUserStore()
const mainStore = useMainStore()
const user = useUserStore().users[mainStore.currentUserID]


const props = defineProps({
    groupID: Number,
    likes: Number,
})


function isLiked() {
    const id = props.groupID
    const group = user.liked.find(obj => obj.groupID == id)
    if (group || groupStore.donateDialogID == id) {
        return true
    }
    else {
        return false
    }
}

function likePost(id) {
    groupStore.donateDialogVisible = true
    groupStore.donateDialogID = props.groupID
}
</script>

<template>
    <div class="flex align-items-center">
        <div class="p-1">
            <a class="link" @click="likePost()">
                <LegaCoin :colored="isLiked()" />
            </a>
        </div>
        <div class="p-1">
            {{ props.likes }}
        </div>
    </div>

</template>

<style>
.link {
    cursor: pointer;
}
</style>