<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useUserStore } from '~/stores/user'
import { useGroupsStore } from '~/stores/groups'
const userStore = useUserStore()
const groupsStore = useGroupsStore()

const props = defineProps({
    content: String,
    user: String,
    id: Number,
})

const store = computed(() => {
    if (props.user == "user") {
      return userStore.users[props.id]
    }
    else if (props.user == "org") {
      return groupsStore.groups[props.id]
    }
})
const pic = computed(() => {
    if (props.user == "user") {
      return "/users/" + userStore.users[props.id].pic
    }
    else if (props.user == "org") {
      return groupsStore.groups[props.id].pic
    }
})
</script>

<template>
    <Card>
      <template #header>
        <div class="flex align-items-center pl-4">
          <Avatar class="pp" size="large" shape="circle" :image="pic"/>

        <div>
        <div class="flex flex-column justify-content-around p-2 pt-4">
            <b>{{ store.name }}</b>
            <p class="gray">@{{ store.username }}</p>
          </div>
        </div>
        </div>
      </template>
      <template #content>
        {{ props.content }}
      </template>
      <template #footer>
        <i class="p-2 pi pi-comment"/>
        <i class="p-2 pi pi-share-alt"/>
        <i class="p-2 pi pi-star"/>
        <i class="p-2 pi pi-ellipsis-h"/>
      </template>
    </Card>
</template>

<style scoped>
.footer {
  padding-top: 2em;
}

.pp {
  overflow: hidden;
}
.gray {
  opacity: 50%;
}
</style>