<script lang="ts" setup>
import { ref, computed } from 'vue'
import { useUserStore } from '~/stores/user'
import { useMainStore } from '~/stores/main'
const mainStore = useMainStore()


const props = defineProps({
    id: Number,
})

const user = useUserStore().users[props.id]

const editing = ref(false)

function editButton() {
  editing.value = (editing.value == true ? false : true)
}

const joinDate = computed(() => {
  const options = { month: 'long'};
  return new Intl.DateTimeFormat('en-US', options).format(user.joinDate) + " " + user.joinDate.getFullYear()
});




</script>
<template>
  <div class="relative h-18rem">
    <span class="absolute h-full w-full">
      <Image :src="'/users/' + user.banner" imageClass="w-full h-full border-round-top" alt="Banner"/>
    </span>
    <span class="absolute text-center bottom-0 right-0 left-0 m-auto">
      <Image :src="'/users/' + user.pic" imageClass="border-circle max-w-6rem" alt="Profile" />
    </span>
  
    <!--span style="padding-top: 1rem" class="absolute text-center top-50 right-0 left-0 m-auto">
      <Image alt="Badge border" imageClass="max-w-18rem" src="/badges/legendary/4.png" />
    </span-->
    <div v-if="mainStore.accountType == 'user' && user.id == mainStore.currentUserID" class="edit" align="right">
      <Button size="large" @click="editButton">
        <span v-if="editing">Save</span>
        <span v-else>Edit</span>
        &nbsp;profile
      </Button>
    </div>
  </div>

  <Card class="border-noround-top">
    <template #content>
      <div class="infos">
        <span v-if="editing">
          <br/>
          <div class="p-inputgroup">
            <span class="p-float-label">
              <InputText id="name" type="text" v-model="user.name" />
              <label for="name">Name</label>
            </span>
            <span class="p-float-label">
              <InputText id="bio" type="textarea" autosize v-model="user.bio" />
              <label for="bio">Bio</label>
            </span>
          </div>
        </span>
        <span v-else>
          <div class="flex align-items-center">
            <h3>{{ user.name }}</h3>
            &nbsp;
            <p class="gray">@{{ user.username }}</p>
          </div>
          <p>{{ user.bio }}</p>
        </span>
        <div class="flex">
          <p><i class="pi pi-calendar"/> Joined {{ joinDate }}</p>
        </div>
      </div>
    </template>
  </Card>
</template>


<style scoped>
.edit {

  padding: 1em;
}
.gray {
  opacity: 50%;
}

.ep-button {
  --ep-button-bg-color: #1e1f26;
}

.banner-pic {
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0% 0%;
  margin-bottom: 2em;
}

.profile-pic {

  text-align: center;
  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
}
.badge-border-pic {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  bottom: 3.6em;
  width: 290px;
}
</style>