<script lang="ts" setup>
import { ref, computed, onMounted } from 'vue'
import { useGroupsStore } from '~/stores/groups'
import { useRouter } from 'vue-router'
const router = useRouter()

const groupStore = useGroupsStore()

const props = defineProps({
    id: Number,
})

const group = computed(() => {
    return groupStore.groups[props.id]
})

function close() {
    groupStore.displaySinglePurpose = "none"
    groupStore.donateDialogVisible = false
    showComments.value = "none" 

}

function viewOrg() {
    groupStore.displaySinglePurpose = "none"
    router.push({name: "Organization", params: {id: props.id}})
}

const fullHeight = computed(() => {
    return "100%"
})


const showComments = ref("none")

function toggleComments() {
    if (showComments.value == "flex") {
        showComments.value = "none" 
    }
    else {
        showComments.value = "flex"
    }
}


</script>
<template>
    <CustomDialog :close="close" :display="groupStore.displaySinglePurpose" :title="group.name">
        <div class="image-wrapper">
            <Image :src="group.pic" imageClass="h-full border-round" />
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
            <div class="flex">
                <Likes :groupID="group.id" :likes="group.likes" />
                <Button @click="viewOrg" class="p-button-text" label="View Organization"/>
            </div>
            <LegaProgressBar symbol="$" style="width: 50%;" :value="group.funded" :goal="group.fundingGoal"/>
        </div>

        <div class="flex">
            <Button @click="toggleComments" icon="pi pi-comments" class="p-button-text" label="Comment" />
            <Button icon="pi pi-share-alt" class="p-button-text" label="Share" />
        </div>
        <br/>
        <div class="comments flex-column" :style="{ display: showComments }">
                            
            <div class="p-2 p-card flex justify-content-between">
                <div></div>
                <h2>Comments</h2>
                <Button @click="toggleComments" icon="pi pi-times" class="m-2 p-button-rounded p-button-text" />
            </div>
            <div class="h-full flex flex-column justify-content-end">
                <ScrollPanel style="height: 85%">
                    <div />
                    <div style="width: 80%;" class="m-auto">
                        <Comment v-for="comment in group.comments" :groupID="props.id" :commentID="comment.id" :userID="comment.userID"/> 
                    </div>
                </ScrollPanel>
                <Comment :groupID="props.id" :commentID="-1" />
            </div>
        </div>
    </CustomDialog>
</template>


<style scoped>
.comments {
    background-color: #040d19aa;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 5rem;
    display: none;
    
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #040d19aa;
    width: 100%;
    z-index: 1;
    height: 100%;

}
.dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    text-align: center;
    height: 100%
}
.dialog {
    position: relative;
    margin: auto;
    background-color: var(--surface-ground);
    border-radius: var(--border-radius);
    padding: 1em;
    z-index: 1100;
    max-width: 600px;
    height: 100%;

}
.image-wrapper {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
}


.image-overlay {
    background-color: rgba(4, 13, 25, 0.5);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em;
}

</style>