<script lang="ts" setup>
import { ref, computed } from 'vue'

import { useMainStore } from '~/stores/main'
import { useUserStore } from '~/stores/user'
import { getTotalDonated } from '~/utils/user'
import { badges, getElementBadges, getGroupBadge, Rarity, Element } from '~/utils/badge'
import { useGroupsStore } from '~/stores/groups'

const mainStore = useMainStore()

const groups = useGroupsStore().groups

const user = useUserStore().users[mainStore.currentUserID]

function close() {
    mainStore.showSingleBadge = "none"
}

const user_badge = computed(() => {
    return user.badges.find(obj => obj.id == mainStore.selectedBadge)
})
const badge = computed(() => {
    return badges.find(obj => obj.id == user_badge.value.badgeId)
})

const group = computed(() => {
    if ('groupId' in badge.value) {
        return groups[badge.value.groupId]
    }
    else {
        return null
    }
})
</script>
<template>
    <CustomDialog v-if="mainStore.selectedBadge >= 0" :close="close" :display="mainStore.showSingleBadge" :title="badge.name">
        <div class="p-card">
            <div class="p-4 flex w-full">
                <Badge :id="mainStore.selectedBadge" width="128px" :type="badge.type" :name="badge.name" />
                <div class="p-2 text-left">
                    <h3>Level: {{ user_badge.level }}</h3>
                    <p><b>Rarity:</b> {{ Rarity[user_badge.rarity] }}</p>
                    <p v-if="group && 'element' in group"><b>Element:</b> {{ Element[group.element] }}</p>
                    <p v-if="'element' in badge"><b>Element:</b> {{ Element[badge.element] }}</p>

                    <div v-if="badge.id == 7 ">
                        <p><b>Donated:</b> ${{ getTotalDonated(user) }}</p>
                    </div>
                    <div v-else-if="'groupId' in badge">
                        <p>{{ group.name }}</p>

                        <a :href="'#/organization/' + badge.groupId">Visit organization</a>

                    </div> 
                    <div v-else>
                        <p>other stats here</p>
                    </div>
                </div>
            </div>

            <LegaProgressBar showPercentage :value="user_badge.xp" :goal="user_badge.xpGoal" />

            <div class="p-4 flex">
                <div class="p-2 flex flex-column align-items-center" v-if="user_badge.rarity == Rarity.Elemental" v-for="group in getElementBadges(groups, badge.element)">
                    <Badge :id="getGroupBadge(group).id" width="80px" />
                        {{ group.name }}
                </div>
                <div v-else>
                </div>
            </div>
        </div>
    </CustomDialog>
</template>