<template>
  <Navigation />
  <main>
    <router-view />
  </main>
</template>

<style>

body {
  padding: 0;
  margin: 0;
  background-color: var(--surface-ground);
  color: var(--text-color);

}
main {
  margin: auto;
  padding: 1em;
  padding-top: 2em;
  max-width: 1000px;
}
</style>
